body {
  margin: 0;
  min-width: 960px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #000000;
  line-height: 24px;

  background-color: #ffffff;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  text-transform: none;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.main-header {
  display: flex;
  flex-direction: column;

  background-color: #f4f7f9;
}

.header-top {
  margin-bottom: 46px;

  color: #ffffff;

  background-color: #293449;
}

.header-top a {
  color: #ffffff;
}

.header-top .container {
  display: flex;
}

.logo {
  padding: 9px 55px;
  margin-bottom: auto;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;

  background-color: #ee3643;
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.24),
              0 5px 0 0 #ee3643;
}

.logo[href]:hover {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.24),
              0 5px 0 0 #ba2732;
}

.logo[href]:active {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.24),
              0 5px 0 0 #ca2c37;
}

.search-site {
  position: relative;

  margin: 0;
}

.search {
  padding: 12px 10px;
  padding-left: 49px;
  width: 270px;
  box-sizing: border-box;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #ffffff;
  line-height: 18px;

  background-color: transparent;
  border: none;
}

.search:focus {
  color: #000000;

  background-color: #ffffff;
}

.search::placeholder {
  color: #ffffff;
}

.search-icon {
  position: absolute;
  top: 12px;
  left: 17px;

  opacity: 0.3;
}

.search-icon path {
  fill: #ffffff;
}

.search:hover + .search-label .search-icon {
  opacity: 1;
}

.search:focus + .search-label .search-icon {
  opacity: 1;
}

.search:focus + .search-label path {
  fill: #ee3643;
}

.product-checkout {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;

  list-style: none;
}

.product-checkout a {
  position: relative;

  display: block;
  min-width: 150px;
  padding: 12px 30px;
  padding-left: 40px;
  box-sizing: border-box;

  text-align: right;
}

.product-checkout .checkout-link {
  padding: 12px 20px;
  background-color: #63a63e;
}

.product-checkout .icon {
  position: absolute;
  top: 12px;
  left: 18px;

  opacity: 0.3;
}

.icon path,
.icon circle {
  fill: #ffffff;
}

.product-checkout a:hover .icon {
  opacity: 1;
}

.product-checkout a:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.product-checkout a:active .icon {
  opacity: 0.5;
}

.product-checkout .checkout-link:hover {
  background-color: #5fbb2d;
}

.product-checkout .checkout-link:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.header-middle {
  display: flex;
  margin-bottom: 32px;

  font-family: "Cuprum", Arial, sans-serif;
}

.header-title {
  margin: 0;
  margin-bottom: auto;
  margin-right: 67px;
  padding: 4px 10px;
  padding-left: 53px;
  width: 200px;

  color: #ee3643;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 23px;
}

.contacts p {
  margin: 0;
  margin-bottom: 5px;

  text-align: center;
}

.telefon {
  position: relative;

  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 71px;
  padding-right: 49px;

  color: #ee3643;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;

  border: 3px solid #ffffff;
}

.telefon::before {
  content: '';

  position: absolute;
  top: 10px;
  left: 12px;

  width: 19px;
  height: 19px;

  background-image: url('../img/icon-phone.png');
  background-repeat: no-repeat;
  background-position: center;
}

.address {
  color: #32425c;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.user-navigation {
  margin: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  font-size: 21px;
  line-height: 21px;

  list-style: none;
}

.user-navigation li {
  margin-left: 10px;
}

.user-navigation a {
  display: block;
  padding: 12px 25px;

  color: #000000;

  background-color: #ffffff;
}

.user-navigation .login-link {
  position: relative;

  padding-left: 48px;
  padding-right: 27px;
}

.user-link:hover {
  color: #ee3643;
}

.user-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.login-icon {
  position: absolute;
  top: 14px;
  left: 14px;
}

.user-link path {
  fill: #c5c5c5;
}


.user-link:hover path {
  fill: #32425c;
}

.user-link:active path {
  fill: #c5c5c5;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 65px;
  padding: 0 24px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;

  background-color: #32425c;
  box-shadow: 0 5px 0 0 #293449;

  list-style: none;
}

.menu-list a {
  display: block;
  padding: 17px 30px;

  color: #ffffff;
}

.menu-list a[href]:hover {
  background-color: #293449;
}

.menu-list a[href]:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #293449;
}
