body {
  margin: 0;
  min-width: 960px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #000000;
  line-height: 24px;

  background-color: #ffffff;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  padding: 8px 10px;
  padding-top: 12px;

  color: #ffffff;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #ee3643;
  border-radius: 2px;
}

.btn:hover,
.btn:focus {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  text-transform: none;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.main-header {
  margin-bottom: 59px;
  display: flex;
  flex-direction: column;

  background-color: #f4f7f9;
}

.header-top {
  margin-bottom: 46px;

  color: #ffffff;

  background-color: #293449;
}

.header-top a {
  color: #ffffff;
}

.header-top .container {
  display: flex;
}

.logo {
  padding: 8px 55px;
  padding-top: 10px;
  margin-bottom: auto;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;

  background-color: #ee3643;
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.24),
              0 5px 0 0 #ee3643;
}

.logo[href]:hover,
.footer-logo[href]:hover {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.24),
              0 5px 0 0 #ba2732;
}

.logo[href]:active,
.footer-logo[href]:focus {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.24),
              0 5px 0 0 #ca2c37;
}

.search-site {
  position: relative;

  margin: 0;
}

.search {
  padding: 12px 10px;
  padding-left: 49px;
  width: 270px;
  box-sizing: border-box;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #ffffff;
  line-height: 18px;

  background-color: transparent;
  border: none;
}

.search:focus {
  color: #000000;

  background-color: #ffffff;
}

.search::placeholder {
  color: #ffffff;
}

.search-icon {
  position: absolute;
  top: 12px;
  left: 17px;

  opacity: 0.3;
}

.search-icon path {
  fill: #ffffff;
}

.search:hover + .search-label .search-icon {
  opacity: 1;
}

.search:focus + .search-label .search-icon {
  opacity: 1;
}

.search:focus + .search-label path {
  fill: #ee3643;
}

.product-checkout {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;

  list-style: none;
}

.product-checkout a {
  position: relative;

  display: block;
  min-width: 150px;
  padding: 12px 10px;
  box-sizing: border-box;
}

.product-checkout .marker-link {
  padding-left: 45px;
}

.product-checkout .basket-link {
  padding-left: 49px;
}

.basket-full {
  background-color: #ee3643;
}

.product-checkout .checkout-link {
  padding: 12px 20px;
  background-color: #63a63e;
}

.product-checkout .icon {
  position: absolute;
  top: 12px;
  left: 18px;

  opacity: 0.3;
}

.icon path,
.icon circle {
  fill: #ffffff;
}

.product-checkout a:hover .icon {
  opacity: 1;
}

.product-checkout a:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.product-checkout .basket-full:active {
  background-color: #ca2c37;
}

.product-checkout a:active .icon {
  opacity: 0.5;
}

.product-checkout .checkout-link:hover {
  background-color: #5fbb2d;
}

.product-checkout .checkout-link:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.header-middle {
  display: flex;
  margin-bottom: 32px;

  font-family: "Cuprum", Arial, sans-serif;
}

.header-title {
  flex-shrink: 0;
  margin: 0;
  margin-bottom: auto;
  margin-right: 57px;
  padding: 3px 10px;
  padding-left: 53px;
  width: 200px;

  color: #ee3643;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 23px;
}

.contacts {
  flex-shrink: 0;
}

.contacts p {
  margin: 0;
  margin-bottom: 5px;

  text-align: center;
}

.telefon {
  position: relative;

  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 71px;
  padding-right: 49px;

  color: #ee3643;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;

  border: 3px solid #ffffff;
}

.telefon::before {
  content: '';

  position: absolute;
  top: 10px;
  left: 12px;

  width: 19px;
  height: 19px;

  background-image: url('../img/icon-phone.png');
  background-repeat: no-repeat;
  background-position: center;
}

.address {
  color: #32425c;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.user-navigation {
  position: relative;

  margin: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 300px;

  font-size: 21px;
  line-height: 21px;

  list-style: none;
}

.user-navigation li {
  margin-left: 10px;
}

.user-navigation li:first-child {
  margin-left: auto;
}

.user-navigation .user-exit {
  position: absolute;
  top: 0;
  right: 0;

  margin-left: 0;
}

.user-navigation .user-order,
.user-navigation .user-cabinet {
  position: relative;

  margin: 0 17px;
}

.user-navigation .user-cabinet::before {
  content: '';

  position: absolute;
  top: 15px;
  left: -17px;

  width: 4px;
  height: 4px;

  background-color: #32425c;
  border-radius: 50%;
}

.user-navigation a {
  display: block;
  padding: 12px 25px;

  color: #000000;

  background-color: #ffffff;
}

.user-navigation .login-link {
  position: relative;

  padding-left: 48px;
  padding-right: 24px;
}

.user-navigation .name-link {
  position: relative;

  padding-left: 47px;
  padding-right: 67px;
  flex-grow: 1;
}

.user-navigation .name-link:active {
  color: rgba(0, 0, 0, 0.3)
}

.user-navigation .exit-link {
  position: relative;

  padding-left: 24px;
  padding-top: 33px;
}

.name-icon {
  position: absolute;
  top: 13px;
  left: 13px;
}

.exit-icon {
  position: absolute;
  top: 14px;
  right: 10px;
}

.name-link:hover path,
.exit-link:hover path {
  fill: #32425c;
}

.name-link:active path,
.exit-link:active path {
  fill: #c5c5c5;
}

.user-link:hover {
  color: #ee3643;
}

.user-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation .order-link,
.user-navigation .cabinet-link {
  padding: 7px 0;

  color: #32425c;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;

  background-color: transparent;
}

.user-navigation .order-link:hover,
.user-navigation .cabinet-link:hover {
  color: #ee3643;
}

.user-navigation .order-link:active,
.user-navigation .cabinet-link:active {
  color: #32425c;
  opacity: 0.3;
}

.login-icon {
  position: absolute;
  top: 14px;
  left: 14px;
}

.user-link path {
  fill: #c5c5c5;
}


.user-link:hover path {
  fill: #32425c;
}

.user-link:active path {
  fill: #c5c5c5;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 65px;
  padding: 0 24px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;

  background-color: #32425c;
  box-shadow: 0 5px 0 0 #293449;

  list-style: none;
}

.menu-list a {
  display: block;
  padding: 17px 30px;
  padding-top: 21px;

  color: #ffffff;
}

.menu-list a[href]:hover {
  background-color: #293449;
}

.menu-list a[href]:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #293449;
}

.promo-block {
  margin-bottom: 33px;
}

.promo-list {
  margin: 0;
  margin-left: -20px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;

  list-style: none;
}

.promo-list > li {
  margin-left: 20px;
}

.promo-item {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 22px 23px;
  padding-bottom: 12px;
  width: 300px;
  box-sizing: border-box;

  background-repeat: no-repeat;
}

.promo-item:first-child {
  background-color: #ffbf47;
  background-image: url('../img/icon-1.png');
  background-position: right 43px top 31px;
}

.promo-item:nth-child(2) {
  background-color: #3bbce3;
  background-image: url('../img/icon-2.png');
  background-position: right 28px top 33px;
}

.promo-item:nth-child(3) {
  background-color: #dc91d8;
  background-image: url('../img/icon-3.png');
  background-position: right 31px top 31px;
}

.promo-wrapper .promo-item:first-child {
  background-color: #8ed78f;
  background-image: url('../img/icon-4.png');
  background-position: right 45px top 26px;
}

.promo-wrapper .promo-item:nth-child(2) {
  background-color: #ffc047;
  background-image: url('../img/icon-5.png');
  background-position: right 31px top 32px;
}

.promo-item span {
  margin-bottom: 11px;
  margin-right: auto;

  font-size: 24px;
  line-height: 30px;
}

.promo-item a {
  padding: 10px 24px;
  margin-top: auto;
  margin-bottom: 10px;
  margin-right: auto;
  min-width: 135px;
  box-sizing: border-box;

  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.promo-item a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-item a:focus,
.promo-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.product-item-new::before,
.promo-new::before {
  content: '';

  position: absolute;
  top: 0;
  right: 0;

  width: 60px;
  height: 59px;

  background-image: url('../img/new-flag.png');
  background-repeat: no-repeat;
  background-position: top right;
}

.product-item-new::before {
  top: -1px;
  right: -1px;
}

.promo-wrapper ul {
  margin: 0;
  padding: 0;
}

.slider {
  display: flex;

  position: relative;
}

.slider-list {
  margin: 0;
  margin-bottom: auto;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  flex-direction: column;
  padding: 22px 24px;
  padding-top: 24px;
  width: 572px;

  background-color: #a2766d;
  background-repeat: no-repeat;
  background-position: center;
}

.slider-item:first-child {
  background-image: url('../img/slider-2.jpg');
}

.slider-item:nth-child(2) {
  background-image: url('../img/slider-1.jpg');
}

.slider-active {
  display: flex;
}

.slider-item h3 {
  margin: 0;
  margin-bottom: 1px;

  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.slider-item  p {
  margin: 0;
  margin-bottom: 121px;

  font-size: 18px;
  line-height: 24px;
}

.btn-slider {
  margin-right: auto;
  padding-left: 50px;
  padding-right: 46px;
}

.slider-next,
.slider-back {
  position: absolute;
  top: 121px;

  padding: 0;
  width: 29px;
  height: 29px;

  background-color: transparent;
  border: none;
  box-shadow: inset -4px -4px 0 0 #ffffff;
}

.slider-back {
  left: 30px;

  transform: rotate(135deg);
}

.slider-next {
  transform: rotate(-45deg);
  right: 25px;
}

.slider-next:hover,
.slider-back:hover {
  box-shadow: inset -5px -5px 0 0 #ffffff;
}

.slider-next:focus,
.slider-back:focus {
  box-shadow: inset -6px -6px 0 0 #ffffff;
  outline: none;
}

.slider-control {
  position: absolute;
  top: 219px;
  left: 50%;

  display: flex;
  margin: 0;
  padding: 0;

  font-size: 10px;
  line-height: 10px;

  transform: translateX(-50%);

  list-style: none;
}

.btn-slider-control {
  padding: 0;
  margin-left: 10px;
  width: 10px;
  height: 10px;
  box-sizing: border-box;

  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.control-item:first-child .btn-slider-control{
  margin-left: 0;
}

.btn-slider-active {
  background-color: #ee3643;
  border: 2px solid #ffffff;
}

.popular-wrapper,
.manufacturers-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 30px;
  padding-right: 24px;

  background-color: #f9f5f0;
}

.manufacturers-wrapper {
  padding-left: 25px;
}

.popular-products h2,
.manufacturers-title {
  margin: 0;
  margin-top: 31px;
  margin-bottom: auto;

  color: #32425c;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.btn-products,
.btn-manufacturers {
  margin-top: 25px;
  margin-bottom: 26px;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 213px;

  text-align: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.product-item {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 21px;
  width: 220px;
  box-sizing: border-box;

  border: 1px solid #eaeaea;
}

.product-title {
  margin: 0 30px;
  margin-bottom: auto;
  order: 1;

  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.product-img {
  margin: 0;
  margin-bottom: 10px;
  min-height: 169px;
  box-sizing: border-box;

  line-height: 0;
}

.product-item:first-child .product-img {
  padding-left: 16px;
  padding-top: 5px;
  padding-right: 18px
}

.product-item:nth-child(2) .product-img {
  padding-left: 39px;
  padding-top: 28px;
  padding-right: 52px
}

.product-item:nth-child(3) .product-img {
  padding-left: 26px;
  padding-top: 21px;
  padding-right: 48px
}

.product-item:nth-child(4) .product-img {
  padding-left: 31px;
  padding-top: 28px;
  padding-right: 60px
}

.product-item:nth-child(4n-3) {
  margin-left: 0;
}

.discount {
  margin: 12px auto;
  margin-bottom: 9px;
  order: 2;

  color: #a9a9a9;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
}

.btn-product {
  position: relative;
  z-index: 1;

  margin-left: 43px;
  margin-right: 55px;
  margin-bottom: 21px;
  padding-left: 35px;
  order: 3;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-product::before {
  content: '';

  position: absolute;
  top: 6px;
  right: -14px;

  width: 27px;
  height: 27px;

  background-color: inherit;

  transform: rotate(45deg);
}

.choice {
  position: absolute;
  top: 44px;
  left: 41px;

  margin: 0;
  padding: 0;
  display: none;

  list-style: none;
}

.choice a {
  position: relative;

  display: block;
  margin-bottom: 7px;
  padding: 10px 27px;
  padding-left: 31px;
  width: 135px;
  box-sizing: border-box;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  border-radius: 2px;
}

.choice-buy {
  color: #ffffff;

  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 #367315;
}

.choice-buy::before {
  content: '';

  position: absolute;
  top: 10px;
  left: 12px;

  width: 15px;
  height: 15px;

  background-image: url('../img/buy-icon.png');
  background-repeat: no-repeat;
  background-position: center;
}

.choice-buy:hover {
  background-color: #5fbb2d;
}

.choice-buy:active {
  background-color: #518534;
  box-shadow: none;
}

.choice .choice-bookmarks {
  padding-top: 7px;
  padding-bottom: 7px;

  color: #32425c;

  border: 3px solid #63a63e;
}

.choice-bookmarks:hover {
  border: 3px solid #32425c;
}

.choice-bookmarks:active {
  border: 3px solid #32425c;
  opacity: 0.3;
}

.product-item:hover {
  border-color: #ffffff;
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.product-item:hover .product-img {
  opacity: 0;
}

.product-item:hover .choice {
  display: block;
}

.manufacturer-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.manufacturer-item {
  margin-left: 20px;
  margin-bottom: 20px;
  width: 218px;
  height: 143px;

  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.manufacturer-item:nth-child(4n-3) {
  margin-left: 0;
}

.manufacturer-item:hover {
  border-color: #ffffff;
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.manufacturer-item:active {
  border-color: #ffffff;
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.service {
  margin-bottom: 58px;

  background-color: #f4f7f9;
}

.service .container {
  padding-top: 64px;
}

.service h2 {
  margin: 0;
  margin-bottom: 28px;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.service p {
  margin: 0;

  font-size: 14px;
}

.service .service-promo:last-of-type {
  margin-bottom: 17px;
}

.service-wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.service-sliders {
  margin: 0;
  padding: 0;
  flex-grow: 1;

  list-style: none;
}

.service-slider-item {
  position: relative;

  margin-right: auto;
  display: none;
  flex-direction: column;
  padding: 46px 80px;
  padding-bottom: 100px;
  padding-right: 20px;
  min-height: 187px;

}

.service-slider-item::before {
  content: '';

  position: absolute;
  bottom: 0;

  background-repeat: no-repeat;
  background-position: center;
}

.delivery.service-slider-item::before {
  right: 1px;

  width: 468px;
  height: 261px;

  background-image: url('../img/delivery.png');
}

.guarantee.service-slider-item::before {
  right: -8px;

  width: 389px;
  height: 283px;

  background-image: url('../img/guarantee.png');
}

.credit.service-slider-item::before {
  right: -10px;

  width: 465px;
  height: 285px;

  background-image: url('../img/credit.png');
}

.service-slider-title {
  margin: 0;
  margin-bottom: 28px;

  color: #32425c;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
}

.service-slider-item p {
  margin: 0;

  font-size: 13px;
}

.delivery p {
  width: 275px;
}

.guarantee p {
  width: 379px;
}

.credit p {
  width: 279px;
}

.service-slider-item p:last-of-type {
  margin-bottom: auto;
}

.service-slider-btn {
  margin-bottom: 13px;
  margin-right: auto;
  padding-left: 45px;
  padding-right: 45px;

  text-align: center;
}

.service-slider-item *:nth-child(n) {
  position: relative;
   z-index: 1;
}

.service-slider-active {
  display: flex;
}

.service-switch {
  position: relative;

  margin: 0;
  margin-bottom: auto;
  padding: 48px 0;
  padding-top: 49px;

  list-style: none;
}

.service-switch::after {
  content: '';

  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  width: 10px;
  height: 279px;

  background-image: url('../img/service-background.png');
  background-repeat: no-repeat;
  background-position: center;
}

.btn-switch {
  padding: 15px 23px;
  padding-bottom: 16px;
  width: 240px;
  box-sizing: border-box;

  color: #ffffff;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;

  background-color: #32425c;
  border: none;
  box-shadow: inset 0 -1px 0 #33445a;
}

.btn-switch:hover {
  background-color: #293449;
}

.switch-active .btn-switch,
.switch-active .btn-switch:hover {
  color: #32425c;

  background-color: #ffffff;
  box-shadow: none;
}

.info,
.info-contacts {
  display: flex;
  margin-bottom: 36px;
  flex-direction: column;
}

.info-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.info-wrapper h2 {
  margin: 0;
  margin-bottom: 31px;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.info-wrapper p {
  margin: 0;
  margin-bottom: 26px;
}

.info {
  padding-right: 20px;
  padding-bottom: 20px;
  width: 519px;
}

.info p:last-of-type {
  margin-bottom: 23px;
  padding-right: 119px;
}

.carrier {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;

  list-style: none;
}

.carrier li {
  position:relative;

  margin-bottom: 22px;
  padding-left: 36px;
}

.carrier li::before {
  content: '';

  position: absolute;
  top: 9px;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.btn-info {
  margin-right: auto;
  padding-left: 41px;
  padding-right: 41px;
}

.info-contacts {
  margin-left: auto;
  padding-bottom: 20px;
}

.info p:last-of-type {
  margin-bottom: 32px;
}

.small-map {
  display: block;
  margin-bottom: auto;
  width: 300px;
  height: 158px;
}

.btn-contacts {
  margin: 0;

  text-align: center;
}

.main-footer {
  margin-top: 30px;

  color: #ffffff;

  background-color: #32425c;
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.footer-logo {
  margin-bottom: auto;
  margin-right: 20px;
  padding: 19px 41px;


  color: #ffffff;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;

  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-menu-item {
  margin-top: 38px;
  margin-bottom: auto;
  margin-left: 60px
}

.footer-menu-item:first-child {
  margin-left: auto;
}

.footer-menu-item a {
  position: relative;

  color: #f3f7f9;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.footer-address-navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 49px;
}

.footer-address {
  margin: 0;
  margin-right: 20px;
  width: 325px;
  flex-shrink: 0;

  color: #f1f5f7;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.footer-products-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.product-navigation-item {
  margin-left: 60px;
  margin-bottom: 23px;
}

.product-navigation-item:first-child {
  margin-left: auto;
}

.product-navigation-item a {
  position: relative;

  color: #ffd180;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.footer-menu-item a::before,
.product-navigation-item a::before {
  content: '';

  position: absolute;
  bottom: 2px;
  left: 0;

  width: 100%;
  height: 1px;
}

.footer-menu-item a:active::before,
.footer-menu-item a:hover::before {
  background-color: #ffffff;
}

.product-navigation-item a:active::before,
.product-navigation-item a:hover::before {
  background-color: #ffd180;
}

.footer-menu-item a:active,
.product-navigation-item a:active {
  opacity: 0.5;
}

.footer-bottom {
  background-color: #293449;
}

.footer-bottom .container {
  display: flex;
  padding-top: 35px;
  padding-bottom: 30px;
}

.text-copyright {
  margin: 0;
  padding: 3px 0;
  padding-right: 96px;
  width: 227px;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.footer-social {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.footer-social-item {
  margin-left: 4px;
}

.footer-social-item:first-child {
  margin-left: auto;
}

.social {
  display: block;
  width: 42px;
  height: 42px;

  background-color: #212a3a;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.social-vk {
  background-image: url('../img/vk-icon.png');
  background-position: center;
}

.social-fb {
  background-image: url('../img/fb-icon.png');
  background-position: center;
}

.social-inst {
  background-image: url('../img/insta-icon.png');
  background-position: center;
}

.social:hover,
.social:focus {
  background-color: #ee3643;
}

.footer-feedback,
.footer-copyright {
  margin: 3px 0;
  margin-left: 53px;

  color: #ffffff;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.footer-feedback {
  width: 135px;
}

.footer-copyright {
  width: 96px;
}

.footer-feedback a,
.footer-copyright a {
  position: relative;

  color: #ffd180;
}

.footer-feedback a::before,
.footer-copyright a::before {
  content: '';

  position: absolute;
  bottom: 2px;
  left: 0;

  width: 100%;
  height: 1px;
}

.footer-feedback a:hover::before,
.footer-copyright a:hover::before {
  background-color: #ffd180;
}

.footer-feedback a:active::before,
.footer-copyright a:active::before {
  background-color: transparent;
}

.footer-feedback a:active,
.footer-copyright a:active {
  color: #ee3643;
}

.big-map {
  position: fixed;
  top: 100px;
  left: 50%;
  z-index: 1000;

  display: none;
  margin-left: -470px;
  width: 940px;
  height: 446px;

  box-shadow: 0 0 15px 1px rgba(47, 42, 43, 0.5);
}

.big-map iframe {
  position: absolute;
  top: 0;
  left: 0;
}

.close-popup {
  position: absolute;
  top: 9px;
  right: 9px;

  padding: 0;
  width: 21px;
  height: 21px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close-popup::after,
.close-popup::before {
  content: '';

  position: absolute;
  top: 8px;
  left: -2px;

  width: 26px;
  height: 5px;

  background-color: #ee3643;
}

.close-popup::after {
  transform: rotate(45deg);
}

.close-popup::before {
  transform: rotate(-45deg);
}

.close-popup:hover::after,
.close-popup:hover::before {
  background-color: #ba2732;
}

.close-popup:active::after,
.close-popup:active::before {
  background-color: #ca2c37;
}

.feedback {
  position: fixed;
  top: 100px;
  left: 50%;
  z-index: 1000;

  display: none;
  margin-left: -310px;

  background-color: #ffffff;
  border-top: 7px solid #ff5357;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.feedback-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 80px;
  padding-top: 47px;
  width: 460px;
}

.feedback-form p {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.feedback-message {
  flex-grow: 1;
}

.feedback-form label {
  margin-bottom: 10px;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

.feedback-form input,
.feedback-form textarea {
  padding: 6px 16px;
  box-sizing: border-box;

  color: #a9a9a9;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;

  background-color: #ffffff;
  border: 2px solid #dee3e4;
}

.feedback-form input {
  margin-bottom: 21px;
  width: 220px;
}

.feedback-form textarea {
  margin-bottom: 37px;
  height: 114px;
  width: 100%;
}

.btn-wrapper {
  padding: 37px 80px;

  background-color: #f4f4f4;
}

.btn-submit {
  box-sizing: border-box;
  width: 100%;

  border: none;
}

.open-popup {
  display: block;
}
